body {
    font-family: "Open Sans";
}

.sheet { background: #ffffff; }

body.A4 .coverPage {
    height: 297.1mm; /* Slightly larger hight for coverpage to eliminate white banner at bottom */
}

section.coverPage canvas {
    width: 100%;
    height: 297.1mm;
}

.version {
    position: absolute;
    left: 12mm;
    bottom: 12mm;
    color: white;
    font-size: 13pt;
}

.heading, .team:before {
    height: 26px;
    text-align: center;
    font-size: 12pt;
    letter-spacing: 3px;
    color: white;
    background: #4579c0;
    padding: 2px 0 0 0;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
}
.infoBlock {
    margin: 5px 0 30px 9px;
}

.peoplePage { margin: -5px; }

.team {
    clear: both;
    position: relative;
}

.team { padding-top: 30px; }
.team:before {
    content: attr(data-team);
    position: absolute;
    top: 0;
    left: 5px;
    width: 740px;
    height: 26px;
}
.clearfix:after { content: ""; clear: both; display: table; }

.person {
    position: relative;
    float: left;
    width: 238px;
    height: 338px;
    margin: 5px;
    overflow: hidden;
    border: solid 1px #0079c0;
}
.teamlead:before {
    content: 'Team aanspreekpunt';
    width: 100%;
    height: 20px;
    background: #4277c2;
    position: absolute;
    top: -1px;
    right: 0;
    font-size: 9pt;
    color: white;
    font-weight: bold;
    text-align: center;
}

.info { padding: 1px 5px; font-size: 9pt; color:#333333; }
.naam { height: 24px; color: #4277c1; font-size: 12pt; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.telefoon { height: 17px; }
.email { height: 36px; word-break: break-all; }

.photo { width: 100%; height: 206px; }
.photo canvas { width: 100%; height: 100%; }
