body {
    font-family: "Open Sans";
}

.sheet { background: #ffffff; }

.peoplePage { margin: -5px; }

.team {
    clear: both;
    position: relative;
}

.team { margin-left: 24px; }
.team:before {
    content: '';
    position: absolute;
    top: 5px;
    left: -19px;
    background: #4579c0;
    color: white;
    width: 22px;
    height: calc(100% - 10px);
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
}
.team:after {
    content: attr(data-team);
    position: absolute;
    top: 15px;
    left: 4px;
    color: white;
    transform: rotate(90deg);
    transform-origin: left top;
    font-size: 12pt;
    letter-spacing: 3px;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
}
.clearfix:after { content: ""; clear: both; display: table; }

.person {
    position: relative;
    float: left;
    width: 230px;
    height: 346px;
    margin: 5px;
    overflow: hidden;
    border: solid 1px #0079c0;
}

.info { padding: 1px 5px; font-size: 9pt; color:#333333; }
.naam { height: 24px; color: #4277c1; font-size: 12pt; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.telefoon { height: 17px; }
.email { height: 36px; word-break: break-all; }
.functie { word-break: break-all; }

.photo { width: 100%; height: 214px; }
.photo canvas { width: 100%; height: 100%; }