body {
    font-family: "Open Sans";
}

.people {
}

.person {
    height: 150px;
    background: #d8d8d8;
    margin-bottom: 10px;
    border: solid 1px #444444;
    border-left: solid 15px #444444;
}
.person:nth-child(even) { background: #bbbbbb; }

.info { float: left; padding: 10px; }

.naam { }
.team { }
.functie { }
.email { }
.telefoon { }

.photo { float: right; width: 117px; height: 150px; }
.photo div { width: 100%; height: 100%; background-size: cover; background-position: center; }